html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
  }

  /* ---- typography ---- */

  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }

  p {
    margin: 0;
  }

  /* ---- layout ---- */

  html,
  body {
    height: 100vh;
    overflow: hidden;
  }

  .container {
    margin: 0 20px;
  }

  @media (min-width: 768px) {
    .container {
      max-width: 728px; /* Resizes the container to 728px for large screens */
      margin: 0 auto;
    }
  }

  /* ---- components ---- */

  .fWorld {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .fWorld header {
    height: 50px;
    display: flex;
    align-items: center;
  }

  .fWorld .lives {
    flex: 1;
  }

  .fWorld .score {
    flex: 1;
  }

  .fWorld .label {
    font-weight: bold;
  }

  .fWorld .value {
    font-style: italic;
  }

  .fWorld .canvas-container {
    flex: 1;
  }

.testing {
  color: red;
  background-color: rebeccapurple;
}
