html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */
@font-face {
  font-family: Samureix;
  src: url('./fonts/Samureix-51ylz.ttf');
}
@font-face {
  font-family: Raiderz;
  src: url('./fonts/Raiderz-MpYB.ttf');
}
body {
  color: #111;
  font-family: Samureix;
  font-size: 16px;

}



/* ---- layout ---- */

html,
body {
  height: 100vh;
  overflow: hidden;
}


@media (min-width: 768px) {
  .container {
    max-width: 728px; /* Resizes the container to 728px for large screens */
    margin: 0 auto;
  }
}

/* ---- components ---- */


main {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 50px;

}
main h1 {
  color: darkred;
  display: flex;
  justify-content: center;
  font-size: 60px;
}

main p {
  font-family: fantasy;
  text-decoration: cadetblue;
  color: brown;
  font-size: 20px;
}

main button{
  font-family: Raiderz;
  padding: 20px 30px;
  color: darkred;

  border: 2px solid darkslategray;
  border-radius: 7px;
  font-size: 20px;

}
.water-container header{
  display: flex;
  justify-content: space-around;
  color: purple;
  font-size: 25px;
}

.canvas-container {
  flex: 1;
  height: 580px;
}
.intro-background {
  background-image: url('./img/waterScreen.png');
  background-size: cover;
}
.fWorld-background {
  background-image: url('./img/gameScreen.png');
  background-size: cover;
}
.gameOver-background {
  background-image: url('./img/gameOverScreen.png');
  background-size: cover;
}
